/*
Aquivo de estivo da atividade 1
*/
/* 
    Created on : 06/02/2019, 13:54:03
    Author     : Carlos-TP
*/
*{
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    margin-left: 43px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;     
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 120px;
}

.menu, .menu_perfil {
    display: flex;
    align-items: center;
}

nav ul,
nav li,
.menu_perfil ul,
.menu_perfil li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul,
.menu_perfil ul{
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;    
}

nav .active a,
nav a:hover {
    background-color: #465c67;
    color: #FFF;       
}

.menu_perfil a {
    display: block;
    text-decoration: none;    
    color: #FFF;  
    margin-left: 43px;
    margin-top: 20px;
    font-size: 15px;
}

#banner_carlos{
    display: flex;
    justify-content: center;
    height: 670px;
    background-color: #015761;
}

.perfil {    
    flex: 1;
}

.nome {
    color: #f7dc4f;
    font-size: 25px;
    margin-top: 37px;
    margin-left: 43px;    
}

.apresentacao {
    margin-top: 150px;
    margin-left: 104px;
    color: #f7dc4f;
    font-size: 35px;    
}

.nomegrande {
    color: #FFF;
    font-size: 120px;
    margin-top: 35px;
    margin-left: 104px
}

.perfil img {
    width: 100%;
    height: 100%;        
}

#sobre {
    background-color: #f1f0f0;
    display: flex;
    justify-content: center;
    height: 500px;
}

.container_sobre{
    width: 815px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre_mim {
    color: #015761;
    font-size: 43px;
}

.sobre_resumo {
    display: flex;
    justify-content: center;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    color: #727272; 
}


.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
}
